body {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #1a1a2e;
  --bs-body-bg-rgb: 26, 26, 46;
}

strong {
  font-weight: 700;
}

.container-fluid {
  height: 100vh;
}

.row {
  height: 100%;
}

.quote-text {
  font-size: 8vh;
  line-height: 1.2;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.quote-text.smaller {
  font-size: 6vh;
}

.max-100 {
  max-width: 100%;
  max-height: 90%;
}

@media screen and (orientation: portrait) {
  .quote-text {
    font-size: 8vw;
  }

  .quote-text.smaller {
    font-size: 6vw;
  }
}
